body {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}